@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.container {
    display: flex;
    max-height: 100%;
    flex-direction: column;
    padding: 40px;
}

.container form {
    width: 600px;
    border: 1px solid #c9c9c9;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 29px -7px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 0px 29px -7px rgba(0,0,0,0.72);
    box-shadow: 0px 0px 29px -7px rgba(0,0,0,0.72);

}

.container form h2 {
    display: flex;
    padding: 20px 0 10px 20px;
    font-family: 'Roboto', sans-serif;
}

.container form .row {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.container form .row span {
    min-width: 100px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.container form .row input {
    height: 40px;
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
} 

.container form .row button {
    flex: 1;
    height: 40px;
    background: #8ac2ab;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

.container form .row button:hover {
    background: #285341;
    outline: none;
}